<div class="row">
    <div class="col col-xs-12">
        <h3 class="my-2"> {{ editMode ? 'Edit Recipe': 'New Recipe' }} </h3>
        <form [formGroup]="recipeForm" (ngSubmit)="onSubmit()">
            <div class="row my-4">
                <div class="col col-xs-12">
                    <button 
                    type="submit"
                    [disabled]="!recipeForm.valid"
                    class="btn btn-outline-success mx-2">{{ editMode ? 'Update' : 'Save' }}</button>
                    <button 
                    (click)="onCancel()"
                    type="button" 
                    class="btn btn-outline-danger mx-2">Cancel</button>
                </div>
            </div>
            <div class="row">
                <div class="col col-xs-12">
                    <div class="form-group">
                        <label for="name">Name</label>
                        <input 
                            class=form-control
                            type="text"
                            id="name"
                            formControlName="name">
                        <span *ngIf="!recipeForm.get('name').valid && recipeForm.get('name').touched">
                            <span *ngIf="isInvalid('name')">Enter name</span>
                            <span *ngIf="recipeForm.get('name')?.errors?.nameExists">Invalid mame, already exist</span>
                        </span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col col-xs-12">
                    <div class="form-group">
                        <label for="imagePath">Image URL</label>
                        <input 
                            class=form-control
                            type="text"
                            id="imagePath"              
                            formControlName="imagePath"
                            #imagePath>
                        <span *ngIf="!recipeForm.get('imagePath').valid && recipeForm.get('imagePath').touched">
                            <span *ngIf="isInvalid('imagePath')">Enter imagePath</span>
                        </span>
                    </div>
                </div>
            </div>
            <div [class]="imagePath === '' ? 'row': 'row my-4'">
                <div class="col col-xs-12">
                    <img [src]="imagePath.value" class="img-fluid mx-auto w-25">
                </div>
            </div>
            <div class="row">
                <div class="col col-xs-12">
                    <div class="form-group">
                        <label for="description">Description</label>
                        <textarea 
                            class=form-control
                            type="text"
                            id="description"
                            rows="6"
                            formControlName="description">
                        </textarea>
                        <span *ngIf="!recipeForm.get('description').valid && recipeForm.get('description').touched">
                            <span *ngIf="isInvalid('description')">Enter description</span>
                        </span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="row my-2">
                    <div class="col col-xs-12">
                        <h5>Ingredients</h5>              
                    </div>  
                </div>
                <div class="col col-xs-12">
                    <div formArrayName="ingredients">
                        <div class="row" 
                            *ngFor="let control of controls; let i = index"
                            [formGroupName]="i">
                            <div class="col col-xs-8">
                                <label for="ingName">name</label>
                                <input 
                                    type="text"
                                    class="form-control"
                                    formControlName = "name">      
                                    <span *ngIf="isInvalidFormGroup('name',i)">      
                                    <span *ngIf="isInvalidArray('name', i)">Enter name</span>
                                </span>
                            </div>
                            <div class="col col-xs-2">
                                <label for="amount">Amount</label>
                                <input 
                                    type="number"
                                    class="form-control"
                                    formControlName="amount">
                                    <span *ngIf="isInvalidFormGroup('amount',i)">
                                        <span *ngIf="isInvalidArray('amount', i)">Enter amout</span>
                                        <span *ngIf="isInvalidPattern('amount', i)">Enter a valid amout</span>
                                    </span>
                            </div>
                            <div class="col col-xs-2">
                                <button 
                                    (click)="onDeleteIngredient(i)"
                                    type="button" 
                                    class="btn btn-outline-danger my-4">X</button>
                            </div>
                        </div>
                    </div>                    
                </div>
                <hr>
                <div class="row my-2">
                    <div class="col col-xs-2">
                        <button 
                            type="button" 
                            class="btn btn-outline-primary col-xs-12"
                            (click)="onAddIngredient()">Add ingredient</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>