<div class="row">
    <div class="col col-xs-12">
        <img 
            [src]="recipe.imagePath" 
            alt="{{ recipe.imagePath }}"
            style="max-height: 400px;">
    </div>
</div>
<div class="row">
    <div class="col col-xs-12">
        <h1>{{ recipe.name }}</h1>
    </div>
</div>
<div class="row">
    <div class="col col-xs-12">
        <div class="btn-group">
            <button 
                type="button" 
                class="btn btn-outline-info bg-info-subtle dropdown-toggle  my-4" 
                data-bs-toggle="dropdown" aria-expanded="false">
              Manage Recipe
            </button>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" (click)="onAddToShoppingList()" style="cursor: pointer;">To Shopping List</a></li>
              <li><a class="dropdown-item" [routerLink]="['edit']">Edit Recipe</a></li>
              <li><a class="dropdown-item">Delete Recipe</a></li>
            </ul>
          </div>
    </div>
</div>
<div class="row">
    <div class="col col-xs-12">
        {{ recipe.description }}
    </div> 
</div>
<div class="row">
    <div class="col col-xs-12 my-4">
        <ul class="list-group">
            <h4>Ingredients</h4>
            <li class="list-group-item"
            *ngFor="let ingredient of recipe.ingredients">
            {{ ingredient.name }} - {{ ingredient.amount }}</li>
        </ul>
        
    </div>
</div>