<div class="list-group">
    <a  class="list-group-item list-group-item-action list-group-item-dark card mb-3"
    (click)="onSelected()">
        <div class="row g-0">
          <div class="col-md-8">
            <div class="card-body">
              <h4 class="card-title">{{recipe.name}}</h4>
              <p class="card-text">{{recipe.description}}</p>
            </div>
          </div>
          <div class="col-md-4">
            <img 
              [src]="recipe.imagePath" 
              alt="{{recipe.imagePath}}" 
              class="img-fluid rounded-start">                    
          </div>
        </div>
    </a>  
</div>

